QWidget#sideBar QPushButton {
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 10px;
}

QWidget#sideBar QPushButton:hover {
    background-color: #500;
    border-radius: 10px;
}

QWidget#sideBar QPushButton:pressed {
    background-color: #666;
}

QWidget#sideBar {
    background-color: rgb(68, 68, 68);
    border-radius: 15px;
}
